*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*::-webkit-scrollbar {
   width: 0.2rem;
}
 
*::-webkit-scrollbar-track {
   background: #f1f1f1;
}
 
*::-webkit-scrollbar-thumb {
   background: #888;
}
 
*::-webkit-scrollbar-thumb:hover {
   background: #555;
}

@font-face {
   font-family: 'OpenSans';
   src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: 'OpenSans';
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

/* 
   MENU SECTION 
*/

.container {
   margin: 0 auto;
}

.main_app .container {
    display: flex;
    position: relative;
}

.menu {
   background-color: white;
   position: absolute;
   width: 300px;
   height: 100vh;
   left: 0;
   top: 0;
   z-index: 3;
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
   transform: translateX(-100%);
   transition: .5s;
}

.menu__header {
   height: 150px;
   background-image: url("../images/chat-back.jpg");
   background-size: cover;
   padding: 25px;
}

.menu__header__image {
   width: 50px;
   border-radius: 50%;
   margin-bottom: 20px;
} 

.menu__header__text {
   width: 55%;
   color: white;
   font-size: 18px;
   line-height: 1.2;
}

.menu__header__text span {
   font-size: 15px;
}

/* 
   MAIN SECTION
*/

.main__list {
   margin-top: 20px;
}

.main__item {
   padding: 10px;
   padding-left: 30px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: .3s;
}

.main__item:hover {
   background-color: rgba(0,0,0,0.1);
}

.main__image {
   width: 25px;
}

.main__text {
   margin-left: 10px;
   font-size: 14px;
}

.main__item:last-child {
   display: flex;
   justify-content: space-between;
}

.night {
   display: flex;
   align-items: center;
}

.mode {
   background-color: rgba(0,0,0,0.1);
   width: 35px;
   height: 20px;
   border-radius: 40px;
   margin-right: 20px;
}

.mode__button {
   background-color: white;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   border: none;
   outline: none;
   transition: .3s;
}

.mode__button:focus {
   transform: translateX(80%);
   background-color:skyblue;
}

/* 
   LEFT APP SECTION
*/

.left_app {
   width: 300px;
   height: 100vh;
   border: 1px solid rgba(0,0,0,0.1);
}

.main_app__header {
   padding: 10px;
   display: flex;
   width: 100%;
}

.hamburger__button {
   width: 20px;
   border: none;
   outline: none;
   background-color: transparent;
   transition: .3s;
   cursor: pointer;
}

.hamburger__image {
   width: 100%;
}

.search__input {
   padding: 10px 15px;
   margin-left: 10px;
   width: calc(100% / 1);
   background-color: #F1F1F1;
   outline: none;   
   border-radius: 5px;
   font-size: 16px;
}

.border-input {
   border: 1px solid rgb(30, 176, 202);
}

.search__input::placeholder {
   font-size: 13px;
}

/* 
   CHATS SECTION
*/

.chats {
   height:  calc(100vh - 70px);
   overflow-y: scroll;
}

/* 
   ACCOUNT SECTION
*/

.account__item {
   display: flex;
   align-items: center;
   margin: 10px 0;
   padding: 5px 10px;
   transition: background .3s;
   cursor: pointer;
}

.account__item:hover {
   background-color: rgba(0,0,0,0.1);
}

.account__item1 {
   margin-bottom: 0;
   padding-bottom: 0;
}

.account__image {
   border-radius: 50%;
   width: 55px;
}

.account__text {
   margin-left: 15px;
}

.account__name {
   font-size: 1rem;
   font-weight: 500;
}

.account__slog {
   margin-top: 3px;
   color: rgba(0,0,0,0.6);
   font-size: 0.9rem;
   color: #1AB6E8;
}

.account__time {
   align-self: flex-start;
   margin-left: auto;
   margin-right: 10px;
   margin-top: 10px;
   font-size: 0.9rem;
}